<template>
  <section>
    <div>
      <h2>Edit Product Number {{ $route.params.edit }}</h2>
      <div v-if="editProduct === null">
        <h3 class="m-3">{{ message }}</h3>
      </div>
      <div v-else>
        <v-form>
          <v-container>
            <v-layout>
              <v-flex xs12 md4>
                <v-text-field v-model="editProduct.name" :rules="nameRules" :counter="10" label="Product Name" required></v-text-field>
              </v-flex>

              <v-flex xs12 md4>
                <v-text-field v-model="editProduct.price" :rules="priceRules" :counter="10" label="Price" required></v-text-field>
              </v-flex>

              <v-btn color="green" @click="updateProduct()">
                Update
              </v-btn>
            </v-layout>
          </v-container>
        </v-form>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
export default {
  data: () => {
    return {
      editProduct: {
        name: '',
        price: ''
      },
      message: 'Product Not found',
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      priceRules: [
        v => !!v || 'Price is required'
      ]
    }
  },
  mounted() {
    this.getProduct()
  },
  methods: {
    async getProduct() {
      await axios.get('http://laranuxt.com/api/product/' + this.$route.params.edit)
        .then((response) => {
          this.editProduct = response.data.data
        })
    },
    updateProduct() {
      axios.post('http://laranuxt.com/api/product/update', this.editProduct)
        .then((response) => {
          if (response.status === 200) {
            return this.$router.back()
          }
        })
    }
  }
}
</script>
