<template>
  <section>
    <h2 class="m-3">Add New Product</h2>
    <v-form>
      <v-container>
        <v-layout>
          <v-flex xs12 md4>
            <v-text-field v-model="editProduct.name" :rules="nameRules" :counter="10" label="Product Name" required></v-text-field>
          </v-flex>

          <v-flex xs12 md4>
            <v-text-field v-model="editProduct.price" :rules="priceRules" :counter="10" label="Price" required></v-text-field>
          </v-flex>

          <v-btn color="green" @click="addProduct()">
            Add
          </v-btn>
        </v-layout>
      </v-container>
    </v-form>
  </section>
</template>

<script>
import axios from 'axios'
export default {
  data: () => {
    return {
      editProduct: {
        name: '',
        price: ''
      },
      message: 'Product Not found',
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 10 || 'Name must be less than 10 characters'
      ],
      priceRules: [
        v => !!v || 'Price is required'
      ]
    }
  },
  methods: {
    addProduct() {
      axios.post('http://laranuxt.com/api/product/create', this.editProduct)
        .then((response) => {
          if (response.status === 200) {
            return this.$router.back()
          }
        })
    }
  }
}
</script>
