<template>
  <div>
    <h1 class="m-3">Product Index Page</h1>
    <div v-if="products.length > 0">
      <div class="m-3">
        Total Products: {{ total_product }}
      </div>
      <div class="m-3">
        <v-btn to="/product/add" color="green">Add New Product</v-btn>
      </div>

      <v-alert :value="deleteAlert" color="green" dismissible><b>{{deleteMessage}}</b></v-alert>

      <v-layout wrap>
        <v-flex xs4>
          <v-text-field label="Search product..." single-line solo v-model="searchText"></v-text-field>
        </v-flex>
        <v-flex xs1>
          <v-btn outline small fab color="indigo">
            <v-icon @click="searchProduct()">search</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>

      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="product in products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.created_at}}</td>
          <td>{{product.updated_at}}</td>
          <td>
            <button @click="prepareEdit(product.id)" class="btn btn-warning">Edit</button>
            <button class="btn btn-danger"  @click="prepareDelete(product.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="text-xs-center">
        <v-pagination v-model="cur_page" :length="total_page" color="#033"></v-pagination>
      </div>

      <v-dialog v-model="deleteDialog" max-width="290">
        <v-card>
          <v-card-title class="headline">Are you sure you want to delete this product?</v-card-title>
          <v-card-actions>
            <v-spacer />
            <v-btn color="red darken-1" flat="flat" @click="deleteProduct(deleteId)">
              Delete
            </v-btn>
            <v-btn color="blue darken-1" flat="flat" @click="deleteDialog = false">
              Cancel
            </v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
    </div>
    <div v-else>
      <h4>No Products found</h4>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data: () => {
    return {
      cur_page: 1,
      total_page: 0,
      total_product: 0,
      deleteDialog: false,
      deleteId: '',
      deleteMessage: '',
      deleteAlert: false,
      products: [],
      searchText: '',
    }
  },
  watch: {
    cur_page: {
      handler() {
        this.getProduct()
      },
      deep: true
    }
  },
  mounted() {
    this.getProduct()
  },
  methods: {
    async getProduct() {
      await axios.get('http://laranuxt.com/api/product', {params: {page: this.cur_page, search: this.searchText}})
        .then((response) => {
          console.log(response);
          this.total_page = response.data.lastPage;
          this.products = response.data.products;
          this.total_product = response.data.totalProducts;
        })
    },
    async deleteProduct(id) {
      axios.delete(`http://laranuxt.com/api/product/delete/${id}`)
        .then((response) => {
          this.deleteMessage = response.data.message;
          this.getProduct();
        });
      this.deleteDialog = false;
      this.deleteAlert = true;
    },
    prepareDelete(id) {
      this.deleteDialog = true;
      this.deleteId = id;
    },
    prepareEdit(id) {
      return this.$router.push({name: 'product-edit', params: {edit: id}})
    },
    searchProduct() {
      this.cur_page = 1;
      this.getProduct();
    }
  }
}
</script>
