<template>
  <section>
    <h1>Results for {{ $route.params.key }}</h1>
    <div v-if="$store.state.albums.length > 0">
      <div v-for="(album, index) in $store.state.albums">
        <Card
          :title="album.collectionCensoredName"
          :image="album.artworkUrl100"
          :name="album.artistName"
          :url="album.artistViewUrl"
          :color="picker(index)"
        />
      </div>
    </div>
    <div v-else>
      <h4>No Album Found</h4>
    </div>
  </section>
</template>

<script>
import Card from '~/components/Card.vue'

export default {
  components: {
    Card
  },
  middleware: 'search',
  methods: {
    picker(index) {
      return index % 2 === 0 ? 'red' : 'blue'
    }
  }
}
</script>
