@require '~vuetify/src/stylus/settings/_colors'

$theme := {
  primary:      $red.darken-2
  accent:       $red.accent-2
  secondary:    $grey.lighten-1
  info:         $blue.lighten-1
  warning:      $amber.darken-2
  error:        $red.accent-4
  success:      $green.lighten-2
}

@require '~vuetify/src/stylus/main'
